<div class="container">
    <div class="grid">
        <div class="cell" [ngClass]="{'deleted': image.deleted}" *ngFor="let image of images" id={{image.id}}>
            <img (click)="onToggleShaded(image)" [ngClass]="{'shaded': image.shaded}" class="mdc-image-list__image"
                src={{image.url}}>
            <span (click)="onToggleDeleted(image)" class="delete">Delete</span>
        </div>
    </div>
</div>