<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>{{ title }}</span>
  <div class="spacer"></div>
</div>
<!-- Content -->

<div class="content" role="main">

  <h2>Images</h2>
  <app-images></app-images>

</div>

<router-outlet></router-outlet>